$main-color: #6963e0;
$main-light: #f2f3ff;
$white: white;
$overlay: rgba(255, 255, 255, 0.9);
$default-width: 1024px;
$text-default: black;
$light-gray: #f2f2f2;
$page-width: 1024px;
$creo-blue: #2aa8de;
$creo-blue-light: #e1f7fa;
$redis-red: #b52212;
$redis-red-light: #ffecea;
$obligo-pink: #dd0258;
$obligo-pink-light: #ffe0ec;
